{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="d-flex h-100 w-100m-5 text-primary justify-content-center align-items-center bg-light">
       <div class="d-flex border border-primary border-2">
           <div class="d-flex m-3">
               <h1 class="m-5 text-secondary">Inscription</h1>
               {{ form_start(registrationForm) }}
               {{ form_row(registrationForm.email) }}
               {{ form_row(registrationForm.plainPassword, {
                   label: 'Password'
               }) }}
               {{ form_row(registrationForm.Recruteur) }}

               <button type="submit" class="btn bg-primary">Valider</button>
               {{ form_end(registrationForm) }}
           </div>
           </div>


    </div>

{% endblock %}
