{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}
    <div class="example-wrapper mx-2">
        <h2 class="text-dark mt-3">Bonjour {{ user.getFirstname }},</h2>
        <p class="text-secondary fw-bold mt-5">Votre compte</p>
        <div class="bg-light border border-primary border-3 w-25 pb-3 mx-2">
            {% include 'users/show.html.twig' %}
        </div>
        {% for role in user.roles %}
            {% if role == "ROLE_ADMIN" %}
                <div class="mt-5 mx-3"><a href="{{ path('admin_index') }}">Liste des utilisateurs</a></div>
            {% endif %}
        {% endfor %}
        {% for role in user.roles %}
            {# Recruiter can add a job if his account is validated and he added his company informations #}
            {% if role == "ROLE_RECRUITER" and user.getValidated == 1 and user.getCompany is not null %}
                <div class="mt-5"><a href="{{ path('jobs_index') }}">Voir la liste des emplois que vous avez publiés</a></div>
                <div class="mt-5"><a href="{{ path('jobs_new') }}">Ajouter une offre d'emploi</a></div>
                <div class="d-flex">
                    {# add all candidacies which are validated #}
                    <div class="mt-5 text-primary"> Candidatures validées: </div>
                    {% for postulatedJob in postulatedJobsToValidate %}
                        {% if postulatedJob.validated == 1 %}
                            <div class="w-25 table">
                                {% include 'jobs/postulatedJob.html.twig' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        {# add all postulated jobs (only ROLE_USER can postulate) #}
        {% if user.roles|length < 2 %}
            <div class="mt-5 text-secondary">Vous avez postulé à ces offres d'emploi: </div>
            {% for job in jobsPostulated %}
                <div><a class="nav-link" href="{{ path('jobs_show', {'id': job.id}) }}">{{ job.title }}</a></div>
            {% endfor %}
        {% endif %}
        {# For consultant: add accounts, jobs and candidacies to validate #}
        {% for role in user.roles %}
            {% if role == "ROLE_CONSULTANT" %}
                <div class="d-flex">
                    <div class="mt-5 text-secondary">Comptes à valider: </div>
                    {% for user in users %}
                        {% set userRole = "ROLE_USER" %}
                        {% for role in user.roles %}
                            {% if role == "ROLE_RECRUITER" %}
                                {% set userRole = "ROLE_RECRUITER" %}
                            {% endif %}
                            {% if role == "ROLE_ADMIN" or role == "ROLE_CONSULTANT" %}
                                {% set userRole = "ROLE_OTHER" %}
                            {% endif %}
                        {% endfor %}
                        {# We have to show all accounts to validate except consultant and admin accounts #}
                        {% if user.validatedBy is null and userRole != "ROLE_OTHER" %}
                            <div class="w-25 table mx-3">
                                {% include 'users/toValidate.html.twig' %}
                                <div class="mx-3">
                                    {% if userRole == 'ROLE_RECRUITER' %}
                                        {% if user.company is not null %}
                                            <p class="text-danger">RECRUTEUR</p>
                                            <span class="fw-bold">{{ user.company.name }}</span> - {{ user.company.address }}
                                        {% endif%}
                                    {% endif %}
                                </div>
                                <div class="mx-3">
                                    <a class="btn btn-success" href="{{ path('users_validate',{'id': user.id}) }}">Valider</a>
                                    <a class="btn btn-danger" href="{{ path('users_reject',{'id': user.id}) }}">Rejeter</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="d-flex">
                    <div class="mt-5 text-secondary"> Offres d'emploi à valider: </div>
                    {% for job in jobs %}
                        {% if job.checkedBy is null %}
                            <div class="w-25 table">
                                {% include 'jobs/toValidate.html.twig' %}
                                <div class="mx-3">
                                    <a class="btn btn-success" href="{{ path('jobs_validate',{'id': job.id}) }}">Valider</a>
                                    <a class="btn btn-danger" href="{{ path('jobs_reject',{'id': job.id}) }}">Rejeter</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="d-flex">
                    <div class="mt-5 text-secondary"> candidatures à valider: </div>
                    {% for postulatedJob in postulatedJobsToValidate %}
                        {% if postulatedJob.checkedBy is null %}
                            <div class="w-25 table">
                                {% include 'jobs/postulatedJob.html.twig' %}
                                <div class="mx-3">
                                    <a class="btn btn-success" href="{{ path('PostulatedJob_validate',{'id': postulatedJob.id}) }}">Valider</a>
                                    <a class="btn btn-danger" href="{{ path('PostulatedJob_reject',{'id': postulatedJob.id}) }}">Rejeter</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {%endfor %}
    </div>
{% endblock %}
