{% extends 'base.html.twig' %}

{% block title %}Hello Userhome page!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ user.getEmail() }}! ✅</h1>
        <a href="{{ path('app_logout') }}">Logout</a>
        <div><a href="{{ path('jobs_new') }}">Add a job</a></div>
        {% if user.company is not null %}
        <p>{{ user.company.name}}</p>
        {% endif %}
        {% for job in jobs %}
        <p>{{ job.title }}</p>
        {% endfor %}



    </div>
{% endblock %}
