<div class="m-5">
    <table class="table-primary  mt-5">
        <tbody>
        <tr>
            <th>Intitulé</th>
            <td>{{ postulatedJobsToValidate }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ job.description }}</td>
        </tr>
        <tr>
            <th>Lieu de travail</th>
            <td>{{ job.address }}</td>
        </tr>
        <tr>
            <th>Les horaires</th>
            <td>{{ job.hours }}</td>
        </tr>
        <tr>
            <th>Le salaire</th>
            <td>{{ job.salary }}</td>
        </tr>
        </tbody>
    </table>
</div>
