<div class="m-3">
    <table class="d-flex table table-primary  mt-5">
    <tbody>
    <tr>
        <th>Nom</th>
        <td>{{ user.lastname }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ user.firstname }}</td>
    </tr>
    <tr>
        <th>Adresse email</th>
        <td>{{ user.email }}</td>
    </tr>
    {% if user.cv %}
        <tr>
            <th>CV</th>
            <td><a href="{{ asset('uploads/cv') }}/{{ user.cv }}">Voir mon CV</a></td>
        </tr>
    {% endif %}
    </tbody>
    </table>
</div>

